body {
  font-family: sans-serif;
  color: #673ab7;
  }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 60%;
  top: 10%;
  margin: 0 20% 10% 20%;
}

.inputs {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

img {
  float: right;
  width: 70%;
  height: 100%;
}

.mainHolder {
display: flex;
flex-direction: row;
justify-content: flex-start;
width: 90%;
margin: 0 10% 0 10%;
box-shadow: 10px 10px 10px;
}

.input {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

button {
  color: #673ab7;
  border: 2px solid #673ab7;
  border-radius: 10px;
}

input {
  border: 2px solid #673ab7;
  border-radius: 10px;
  width: 90%;
}
